<!DOCTYPE html>
<html>

<head>
  <title>{{ announcement.title }}</title>
</head>

<body>
  <h1>{{ announcement.title }}</h1>

  {% if session.user_id == announcement.user_id %}
  <p>
    <a href="/announcement/{{ announcement.id }}/edit">Edit</a> &nbsp;
    <a href="/announcement/{{ announcement.id }}/remove">Remove</a>
  </p>
  {% endif %}

  <p>
    Description: <br />
    {{ announcement.about }}
  <p>

  <p>
    Author:
    <a href="/user/{{ announcement.user_id }}">{{ announcement.username }}</a>
  </p>

  {% for class, value in classes.items() %}
<p>
  {% if lengths[class]==1 %}
  {{ class }}: {{ value[0] }}
  {% else %}
  {{ class }}: 
  <ul>
  {% for entry in value %}
  <li>{{ entry }}</li>
  {% endfor %}
  </ul>
  {% endif %}
</p>
{% endfor %}

  {% if announcement.intented_price %}
  <p>
    Intended price:
    {{ announcement.intented_price }} €
  </p>
  {% endif %}

  {% if announcement.intented_age_restriction %}
  <p>
    Intended age restriction:
    {{ announcement.intented_age_restriction }}
  </p>
  {%endif%}

  {% if announcement.download_link %}
  <p>
    Download link:
    <a href="{{ announcement.download_link }}" target="_blank" rel="noopener noreferrer">{{ announcement.download_link }}</a>
  </p>
  {% endif %}

  <p>
    Post date:
    {{ announcement.created_at }}
  </p>

  {% if announcement.updated_at %}
  <p>
    Last update:
    {{ announcement.updated_at }}
  </p>
  {% endif %}

  <p>
    <a href="/">Back to the main page</a>
  </p>
  <br /><br />
  <hr />
  <h2>Feedback & Comments</h2>
  <p>New feedback/comment:</p>
  <form action="/announcement/{{ announcement.id }}" method="post">
    <p>
      <textarea name="comment" rows="6" cols="60" maxlength="1000"></textarea>
    </p>
    <input type="submit" value="Add a comment" />
  </form>
  <br />
  <hr />
  {% for comment in comments %}
  <p>
    <font size="4">{{ comment.comment }}</font><br /><br />
    {{ comment.created_at }}<br />
    {% if comment.updated_at %}
    Edited at: {{ comment.updated_at }}<br />
    {% endif %}
    <a href="/user/{{ comment.user_id }}">{{ comment.username }}</a>
    <br />
    {% if session.user_id == comment.user_id %}
    <a href="/announcement/{{ announcement.id }}/comment/{{ comment.id }}/edit">Edit</a> &nbsp;
    <a href="/announcement/{{ announcement.id }}/comment/{{ comment.id }}/remove">Remove</a>
    {% endif %}
  </p>
  <hr />
  {% endfor %}
</body>

</html>
