<!DOCTYPE html>
<html>

<head>
  <title>Edit announcement</title>
</head>

<body>
  <h1>Edit announcement</h1>
  <font size="3">The spots marked with * are mandatory</font><br />

  <form action="/announcement/{{announcement.id}}/edit" method="post">
    <p>
      Name of the game*: <br />
      <input type="text" name="name_of_the_game" maxlength="70" value="{{ announcement.title }}"/>
    </p>

    {% for class in classes %}
    <p>
    {{ class }}{% if class == "State" %}*{% endif %}: <br />
    {% if class_types[class] == "select" %}
    <select name="{{ class }}">
      <option value="">(choose)</option>
      {% for option in classes[class] %}
      {% if option in right_classes[class] %}
      <option value="{{ option }}" selected>{{ option }}</option>
      {% else %}
      <option value="{{ option }}">{{ option }}</option>
      {% endif %}
      {% endfor %}
    </select>

    {% elif class_types[class] == "checkbox" %}
    {% for option in classes[class] %}
    {% if option in right_classes[class] %}
    <input type="checkbox" name="{{ class }}" value="{{ option }}" checked /> {{ option }}<br />
    {% else %}
    <input type="checkbox" name="{{ class }}" value="{{ option }}" /> {{ option }}<br />
    {% endif %}
    {% endfor %}
    {% endif %}
    </p>
    {% endfor %}

    <p>
      Link to download site: <br />
      <input type="text" name="download_link" value="{{ announcement.download_link }}"/>
    </p>

    <p>
      Intented price: <br />
      <input type="text" name="intented_price" value="{{ announcement.intented_price }}" /> €
    </p>

    <p>
      Intented age restriction: <br />
      <input type="text" name="age_restriction" value="{{ announcement.intented_age_restriction }}" />
    </p>

    <p>
      Description*: <br />
      <textarea name="description" rows="6" cols="60" maxlength="1000">{{ announcement.about }}</textarea>
    </p>
    <input type="submit" name="confirm" value="Confirm changes" />
    <input type="submit" value="Cancel" />
  </form>
</body>

</html>
