<!DOCTYPE html>
<html>

<head>
  <title>Indiedev</title>
</head>

<body>
  <h1>Welcome to Indiedev!</h1>
  <p>
    Indiedev is a platform for indie game developers to share their projects and ideas. </br>
    {% if session.username %}
    <p>
      You are logged in as {{ session.username }}.
    </p>

    <p>
      <a href="/new_announcement">Create a new post</a>
    </p>

    <p>
      <a href="/user/{{ session.user_id }}">Your user page</a>
    </p>

    <p>
      <a href="/logout">Log out</a>
    </p>

    {% else %} 
    <a href="/register">Create an account</a>
    or
    <a href="/login">log in</a>.
    </p>
    {% endif %}
    <a href="/search">Search tool</a>

    <h2>Latest announcements</h2>
    <form action="/search" method="get">
      <p>
        Search from all announcements:
        <input type="text" name="query" />
      </p>
      <input type="submit" value="Search" />
    </form>
    <hr />
    {% for announcement in announcements %}
    <p>
      <a href="/announcement/{{ announcement.id }}">{{ announcement.title }}</a>
      <br />
      {{ announcement.username }} ({{ announcement.created_at }})
    </p>
    <hr />
    {% endfor %}

  </p>
</body>

</html>
