<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
</head>

<body>
  <h1>Please provide your login information</h1>
  <form action="/login" method="post">
    <p>
      Username:
      <input type="text" name="username" />
    </p>

    <p>
      Password:
      <input type="password" name="password" />
    </p>

    <input type="submit" value="Login" />
  </form>

  <p>
    Don't have an account?
  <a href="/register">Create an account</a>
  </p>
  <p>
    <a href="/">Back to the main page</a>
  </p>
</body>


</html>
